@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

body {
  color: #5D5F63;
  background: #293949;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.sidebar-toggle {
  margin-left: -240px;
}

.sidebar {
  width: 240px;
  height: 105%;
  background: #293949;
  position: absolute;
  top: 0px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
}

/* .sidebar.nano-content {
  padding-left: 20%;
} */

#leftside-navigation ul,
#leftside-navigation ul ul {
  margin: 70 0 0;
  padding: 0;
}

#leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#leftside-navigation ul li.active>a {
  color: #1abc9c;
}

#leftside-navigation ul li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#leftside-navigation ul li a:hover {
  color: #1abc9c;
}

#leftside-navigation ul li a span {
  display: inline-block;
}

#leftside-navigation ul li a i {
  width: 20px;
}

#leftside-navigation ul li a i .fa-angle-left,
#leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}

#leftside-navigation ul ul {
  display: none;
}

#leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}

#leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}

.board-container {
  margin: 20px;
  margin-left: 0px;
  margin-top: -20px;
  background-color: #F05B29;
  padding: 20px;
  height: 300px;
  position: relative;

}

.board-container a {
  text-decoration: none;
  color: #e4e4e4;
  font-family: 'revicons';
  margin-left:auto;
}

.board-container td {
  text-decoration: none;
  color: #e4e4e4;
  font-family: 'revicons';
}

.board-container .add-button2 {
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

.flex-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin-left: 330px;
  margin-right: 70px;
  /*background-color: #FFF;*/
  /* border: 1px solid #f3f3f3; */

}


.notice-container {
  margin: 20px;
  margin-right: 0px;
  margin-top: -35px;
  background-color: #FFF;
  padding: 20px;
  height: 300px;
  position: relative;
  border: 1px solid #f3f3f3;
}

.notice-container a {
  text-decoration: none;
  color: #444;
  font-family: 'malgunbd';
}

.notice-container td {
  text-decoration: none;
  color: #444;
  font-family: 'malgun';
}


.notice-container .add-button1 {
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

.notice-division {
  border-top: 1px solid #444444;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 450px;
}


.board-container {
  margin: 20px;
  margin-left: 0px;
  margin-top: -35px;
  background-color: #F05B29;
  padding: 20px;
  height: 300px;
  position: relative;

}

.board-container a {
  text-decoration: none;
  color: #e4e4e4;
  font-family: 'revicons';
}

.board-container td {
  text-decoration: none;
  color: #e4e4e4;
  font-family: 'revicons';
}

.board-container .add-button2 {
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}


.notice-division {
  border-top: 1px solid #444444;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 450px;
}

.board-division {
  border-top: 1px solid #ffffff;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 450px;
}


.foot-container {
  background-color: #1A252B;
  /* padding: 40px 0;  */
  border-top: 1px solid #e4e4e4;
  padding: 20px;
  /* margin:1rem 0; */
}

.foot-container a {
  color: #B4BEBE;
  font-size: 11px;
  font-family: 'malgun';
}

.foot-container p {
  color: #B4BEBE;
  font-size: 11px;
  font-family: 'malgun';
  margin-left: 90px;
  line-height: 20px
}

.footer__title {
  font-size: 18px;
  margin: 0;
  margin-left: 0px;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  color: #3a9fff;
}

.footer__light {
  color: #fff;
}

.footer__social {
  float: right;
}

.footer__social-l {
  margin-left: 15px;
  vertical-align: middle;
}

.header__img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}