<!DOCTYPE html>
<html>

<head>
    <title>Flask MySQL Example</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
    <meta name="theme-color" content="#1885ed">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <header class="header">
        <div class="container header__container">
            <a href="main.html">
                <img class="header__img" src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo">
            </a>
            <!-- <div class="header__logo"><img class="header__img"
                    src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo">
                <h1 class="header__title"><span class="header__light"></span></h1>
            </div> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

            <div class="header__menu">
                <nav id="navbar" class="header__nav collapse">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="human" class="header__link">인적관리사항</a></li>
                        <li class="header__el"><a href="employment" class="header__link">채용관리</a></li>
                        <li class="header__el"><a href="#" class="header__link">Success stories</a></li>
                        <li class="header__el"><a href="#" class="header__link">Blog</a></li>
                        <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
                        <li class="header__el header__el--blue"><a href="" class="btn btn--white">Sign In →</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="table-container">
        <div class="search-container">
            <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for names..">
        </div>
        <header>
            <h1>채용관리 Database</h1>
        </header>
        <div class="table-scroll">
            <table>
                <thead>
                    <tr>
                    {% for column in columns %}
                        <th>
                        <a href="#" onclick="sortTable({{ loop.index0 }})">{{ column }}</a>
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>

</body>

<script>
    function searchTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");
    
        for (i = 0; i < tr.length; i++) {
            tds = tr[i].getElementsByTagName("td");
            for (j = 0; j < tds.length; j++) {
                td = tds[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
    var sortDirections = {};

    function sortTable(colIndex) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.querySelector("table");
    switching = true;

    var currentDirection = sortDirections[colIndex] || 'asc';
    var newDirection = currentDirection === 'asc' ? 'desc' : 'asc';
    sortDirections[colIndex] = newDirection;

    while (switching) {
        switching = false;
        rows = table.getElementsByTagName("tr");

        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;

            x = rows[i].getElementsByTagName("td")[colIndex];
            y = rows[i + 1].getElementsByTagName("td")[colIndex];

            var xValue = x.innerHTML.toLowerCase();
            var yValue = y.innerHTML.toLowerCase();

            if (currentDirection === 'asc') {
                if (xValue > yValue) {
                    shouldSwitch = true;
                    break;
                }
            } else if (currentDirection === 'desc') {
                if (xValue < yValue) {
                    shouldSwitch = true;
                    break;
                }
            }
        }

        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }
}
</script>
</html>