<!DOCTYPE html>
<html>

<head>
    <title>Flask MySQL Example</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
    <meta name="theme-color" content="#1885ed">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <header class="header">
        <div class="container header__container">
            <a href="main.html">
                <img class="header__img" src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo">
            </a>
            <!-- <div class="header__logo"><img class="header__img"
                    src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo">
                <h1 class="header__title"><span class="header__light"></span></h1>
            </div> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

            <div class="header__menu">
                <nav id="navbar" class="header__nav collapse">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="human" class="header__link">인적관리사항</a></li>
                        <li class="header__el"><a href="employment" class="header__link">채용관리</a></li>
                        <li class="header__el"><a href="#" class="header__link">Success stories</a></li>
                        <li class="header__el"><a href="#" class="header__link">Blog</a></li>
                        <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
                        <li class="header__el header__el--blue"><a href="" class="btn btn--white">Sign In →</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="table-container"><!--스크롤-->
        <header>
            <h1>인적관리사항 Database</h1>
        </header>
        <div class="table-scroll">
            <table>
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div class="pagination">
        {% if page > 1 %}
        <a href="?page=1">처음</a>
        <a href="?page={{ page - 1 }}">이전</a>
        {% endif %}

        {% if page < total_pages %} <a href="?page={{ page + 1 }}"> 다음</a>
            <a href="?page={{ total_pages }}">마지막</a>
            {% endif %}
    </div>
</body>

</html>