<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="login-page">

        <div class="form">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

            <form class="login-form">
                <img src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo" width="150"
                    height="60">
                <input type="text" id=id placeholder="사번" /><!--js와 데이터베이스 연결해서 사번 확인-->
                <input type="password" id=pw placeholder="비밀번호" /><!--일단 사번으로 하고 비번은 나중에 바꿀 수 있도록-->
                <p class=pass>비밀번호: 사번</p>
                <button type="button"
                    onclick="location.href='page2.html'">Login</button><!--로그인 버튼 클릭하면 page2.html으로 페이지 이동-->
                <p class="message">Not registered? <a href="*">Create an account</a></p>
            </form>
        </div>
    </div>
</body>

</html>