<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
    <meta name="theme-color" content="#1885ed">
    <title>ITeyes - Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header class="header">
        <div class="container header__container">
            <a href="main.html">
                <img class="header__img" src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo">
            </a>
            <!-- <div class="header__logo"><img class="header__img"
                    src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo">
                <h1 class="header__title"><span class="header__light"></span></h1>
            </div> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

            <div class="header__menu">
                <nav id="navbar" class="header__nav collapse">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="human" class="header__link">인적관리사항</a></li>
                        <li class="header__el"><a href="employment" class="header__link">채용관리</a></li>
                        <li class="header__el"><a href="#" class="header__link">Success stories</a></li>
                        <li class="header__el"><a href="#" class="header__link">Blog</a></li>
                        <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
                        <li class="header__el header__el--blue"><a href="" class="btn btn--white">Sign In →</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <article id = "content">
        <section id = "main">
            <img src = "{{ url_for('static', filename='images/corp_info.PNG') }}" >
        </section>
        <section>
            <div class = "flex-container">
                <div class = "notice-container">
                <a href = "#">
                    <h4>공지사항</h4>
                </a>
                <a href="#" class="add-button1">+</a>
                    <div class="notice-division"></div>
                    <table class="notice-table">
                        <tr>
                            <td>첫 번째 공지사항</td>
                        </tr>
                        <tr>
                            <td>두 번째 공지사항</td>
                        </tr>
                    </table>
                </div>
                <div class = "board-container">
                    <a href = "#">
                        <h4>게시판</h4>
                    </a>
                    <a href="#" class="add-button2">+</a>
                        <div class="board-division"></div>
                        <table class="board-table">
                            <tr>
                                <td>첫 번째 게시물</td>
                            </tr>
                            <tr>
                                <td>두 번째 게시물</td>
                            </tr>
                        </table>
                </div>
           </div>
        </section>

    </article>
    <main>
        
    </main>

    <footer>
        <div class ="foot-container">
            <div class = "col-md-2-5 col-sm-6 col-xs-12"> </div>
            <div class = "col-md-2-5 col-sm-6 col-xs-12"> </div>
            <div class = "col-md-2-5 col-sm-6 col-xs-12"> </div>
            <div class = "col-md-2-5 col-sm-6 col-xs-12"> </div>
            <p>
            <span class = "footer-bottom col-xs-12"> 
                <a href="#">(주)아이티아이즈</a>
             서울특별시 영등포구 은행로 37, 5층(여의도동, 기계진흥회관본관) |
            대표번호 : tel:02-783-2970 , 팩스 : 02-783-5088 
            <br>
             [대구지사] 대구광역시 중구 동덕로 115, 진석타워 1206호, 053-429-6589
            <br>
             [부산지사] 부산광역시 동구 조방로 39 썬오피스텔 906호, 051-635-2972
            <br>
             [호남지사] 전남 나주시 빛가람로 685, 비전타워 201호, 061-336-8801
            </span>
        </p>
        </div>
     </footer>
    </div>
</body>

</html>
</body>

</html>