<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="login-page">

        <div class="form">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

            <form class="login-form" method="POST" action="/login">
                <img src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo" width="150"
                    height="60">
                <input type="password" name="old_password" placeholder="비밀번호" /><!--js와 데이터베이스 연결해서 사번 확인-->
                <input type="password" name="new_password" placeholder="변경 비밀번호" /><!--비번 변경-->
                <p class=pass></p>
                <button type="submit">Login</button>

            </form>
        </div>
    </div>
</body>

</html>