<!DOCTYPE html>
<html>

<head>
    <title>Flask MySQL Example</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
    <meta name="theme-color" content="#1885ed">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page2.css') }}">
</head>

<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    
    <header class="header">
        <div class="container header__container">
            <div class="header__logo"><img class="header__img"
                    src="{{ url_for('static', filename='images/iteyes_logo.png') }}" alt="iteyes_logo">
                <h1 class="header__title"><span class="header__light"></span></h1>
            </div>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

            <div class="header__menu">
                <nav id="navbar" class="header__nav collapse">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="index.html" class="header__link">인적관리사항</a></li>
                        <li class="header__el"><a href="test.html" class="header__link">채용관리</a></li>
                        <li class="header__el"><a href="#" class="header__link">Success stories</a></li>
                        <li class="header__el"><a href="#" class="header__link">Blog</a></li>
                        <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
                        <li class="header__el header__el--blue"><a href="" class="btn btn--white">Sign In →</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <header>
        <h1>채용관리 Database</h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>NO</th>
                <th>재직여부</th>
                <th>성명</th>
                <th>직함</th>
                <th>사번</th>
                <th>입사일</th>
                <th>부문</th>
                <th>본부</th>
                <th>부서명</th>
                <th>직책</th>
                <th>직무</th>
                <th>정보통신 공사업</th>
                <th>PJT 투입명</th>
                <th>PJT 종료일 계약서 기준(VRB)</th>
                <th>가득구분</th>
                <th>투입일</th>
                <th>철수일(VRB상)</th>
                <th>철수 예정일</th>
                <th>남은 일자</th>
                <th>실 철수일</th>
                <th>비고</th>
                <th>체크대상 여부</th>
                <th>철수일(예정)</th>
                <th>유형</th>
                <th>승인일</th>
                <th>퇴사시 유형</th>
                <th>퇴사사유</th>
            </tr>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div class="pagination">
        {% if page > 1 %}
        <a href="?page=1">처음</a>
        <a href="?page={{ page - 1 }}">이전</a>
        {% endif %}

        {% if page < total_pages %} <a href="?page={{ page + 1 }}"> 다음</a>
            <a href="?page={{ total_pages }}">마지막</a>
            {% endif %}
    </div>
    </div>

</body>

</html>